* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#iawg {
  background-color: #e6e6e6;
}
.fdb-block .text-h1,
.fdb-block h1 {
  font-size: 1.75rem;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
  font-weight: 400;
}
.fdb-block .col-fill-left {
  width: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  z-index: 1;
}
a {
  color: rgb(0, 123, 255);
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background-color: transparent;
}
a:hover {
  color: rgb(0, 86, 179);
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.progress-list .progressbar.line {
  height: 8px;
  background-color: rgb(244, 244, 244);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
}
